<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
        <style>
        a.active {
            background-color: yellow;
        }
    </style>

</head>
<body>

    <div>
        {# {% for item in menu %}
            <a href="{{item.url}}" class="{{ title == item.title ? 'active' }}">{{item.title}}</a>
            
        {% endfor %} #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
        {# <a class="navbar-brand" href="#"><i class="fas fa-cat"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button> #}
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Материальная помощь</a>
            </li>
            {# app.session.user #}
            {% if user == "worker" %}
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">Запустить рассчет выплат</a>
            </li>
            {% endif %}
            {# {% for type in types %}
            <li class="nav-item">
                <a class="nav-link" href="/?type={{ type.type }}">{{ type.type|title }}</a>
            </li>
            {% endfor %} #}
            {# <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/search">Поиск</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/web-object/create">Добавить</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/web-object/create_type">Добавить тип</a>
            </li> #}
        </ul>

        {% if is_logged %}
        <form action="/logout" style="margin-left: 10px;">
            <button type="submit" class="btn btn-secondary">Выйти</button>
        </form>
        {% endif %}
        </div>
    </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </div>
    <div class="container d-flex">
        <div>
            {% block content %}
            пустота
            {% endblock %}
        </div>
    </div>

</body>
</html>